/* .card {
  height: 180px;
  overflow: auto;
  box-shadow: 0px 0.3px 2.2px 0px #00000003, 0px 0.8px 5.3px 0px #00000004,
    0px 1.5px 3.01px 0px #00000005, 0px 5.01px 11.4px 0px #00000007;
  margin-right: 5;
  margin-bottom: 5;
  cursor: pointer;
} */
