/* .MuiDataGrid-columnHeaderTitle.css-t89xny-MuiDataGrid-columnHeaderTitle {
  padding-left: 295px;
  font-weight: 'bold';
}

.MuiDataGrid-cell.MuiDataGrid-cell--textLeft.MuiDataGrid-withBorderColor {
  padding-left: 305px;
  font-weight: 'bold';
} */
