.ql-container {
  border-bottom-left-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
  background-color: #fff;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec00;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  border: "1px solid green";
}

.ql-editor {
  min-height: 100px;
  max-height: 100px;
}
