.tree-container {
  font-family: Arial, sans-serif;
  margin: 20px 0;
}

.tree-node {
  display: flex;
  position: relative;
  cursor: pointer;
  padding: 5px 0;
  border-left: 1px dashed rgb(133, 166, 232);
}

.node-content {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  margin-left: 20px;
  height: 40px;
  width: 250px;
  transition:
    background-color 0.3s,
    border-color 0.3s;
}

.node-content:hover,
.node-content:focus {
  background-color: #e6f7ff;
  border-color: #80bdff;
  outline: none;
}

.toggle-icon {
  cursor: pointer;
  margin-right: 5px;
  transition:
    transform 0.3s,
    color 0.3s;
}

.toggle-icon:hover,
.toggle-icon:focus {
  color: #0056b3;
  outline: none;
}

.node-text {
  /* margin-right: 10px; */
  font-weight: 500;
  font-size: 14px;
  height: 20px;
}

.action-icons {
  display: flex;
  align-items: center;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.3s;
}

.tree-node:hover .action-icons {
  opacity: 1;
}

.action-button,
.action-delete-button {
  margin-left: 5px;
  background: none;
  border: none;
  cursor: pointer;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    transform 0.3s,
    color 0.3s;
}

.action-button:hover,
.action-button:focus {
  color: #007bff;
  transform: scale(1.1);
  outline: none;
}

.action-delete-button :hover,
.action-delete-button :focus {
  color: #ff0000;
  transform: scale(1.1);
  outline: none;
}

.add-first-node-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.add-first-node-button:hover,
.add-first-node-button:focus {
  background-color: #0056b3;
  outline: none;
}

.small-icon {
  font-size: 1.2rem;
}
